* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --twitter-blue: #1da1f2;
}

body {
   color: #0F1419;
   -webkit-font-smoothing: antialiased; /* fonte mais nítida no chrome e browser similares*/
}

body, input, textarea, button {
   font: 400 1rem Roboto, sans-serif;
   /* REM -> 16px, rem usar permite ao usuário na acessibilidade alterar o tamanho do texto */
}

button {
   cursor: pointer;
}

a {
   color: inherit;
}



